/* --- RESET ------------------------------ */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* html {
    color-scheme: dark light;
} */

body {
    min-height: 100vh;
}

/* make these elements responsive */
img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* --- END RESET -------------------- */

:root {
    --primary-color: #ff6600;
}

html {
    line-height: 1.5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

section {
    padding-block: 3rem;
}
.wrapper {
    max-width: 50rem;
    margin-inline: auto;
    padding-inline:0.8rem;
}

.section-title {
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 1rem;
}
.section-title span {
    color: var(--primary-color);
}



/*--- HERO SECTION ----------------------------------------*/
.hero {
    background-color: var(--primary-color);
    background: linear-gradient(rgba(255, 102, 0, 0.85), rgba(255, 102, 0, 0.85)), url(../img/bg/hero_bg.avif);
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 80px;
}

.hero img {
    height: 100px;
    min-width: 60px;
}

.hero h1 {
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: clamp(3rem, 10vw, 4rem);
}

/*--- ABOUT SECTION ----------------------------------------*/
/* .about .wrapper {
    border: 1px solid red;
} */

.about {
    font-size: clamp(1.4rem, 4vw, 1.6rem);
}

.about-description {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    
}

.about-description img {
    height: clamp(160px, 25vw, 200px);
}

.about-text a {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}

.about-text a:hover {
    color: var(--primary-color);
}

.about-tech {
    padding-top: 1rem;
}

.tech-logos {
    display:flex;
   
    flex-wrap: wrap;
    gap:25px;
}

.tech-logos img{
    height: 40px;
}

/*--- PROJECTS SECTION ----------------------------------------*/
.projects {
    position: relative;
    isolation: isolate;
}

.projects::before, .projects::after {
    --skew-angle: 1.5deg;
    
    content: "";
    background-color: rgba(255,102,0,0.025);
    position: absolute;
    inset:0;
    z-index:-1;
}
.projects::after {
    border-top: 2px solid var(--primary-color);
    transform: skewY(calc(var(--skew-angle) * -1));
}

.projects::before {
    border-bottom: 2px solid var(--primary-color);
    transform: skewY(var(--skew-angle));
}

.projects img {
    height: 80px;
    margin-inline: auto;
    margin-bottom: 2rem;
}

.projects-content {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: column; 
}

.project-card { 
    border-radius: 5px;
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

.project-card:first-of-type {
    background-color: #015b93;
}

.project-card:nth-of-type(2) {
    background-color: #00771F;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
    position: absolute;
    transition: 0.3s ease;
}

.project-card-top, .project-card-bottom {
    display: flex;
    filter: drop-shadow(2px 4px 6px black);
    flex-direction: column;
    height: 200px;
    text-align: center;
    transition:0.5s ease;
}

.project-card-top { 
    justify-content: center;
}

.project-card-bottom {
    justify-content: space-evenly;
}

.project-card p {
    font-size: 1.4rem;
    color: #ffffff;;
    z-index: 1;
    position: relative;
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.project-card-bottom a {
    /* background: rgba(0, 0, 0, 0.5); */
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 1008px;
    font-size: 1.4rem;
    margin-inline: auto;
    text-decoration: none;
    width: 180px;
}

.project-card-bottom a:hover {
    background-color:#000000;
}

.project-card:hover {
    background-color: var(--primary-color);
}

.project-card:hover .project-card-top, .project-card:hover .project-card-bottom {
    transform: translateY(-200px);
}

.project-card:hover img {
    transform: scale(1.2);
}

/*--- RESPONSIVE SECTION ----------------------------------------*/
@media (min-width: 40em) {
    .hero {
        padding: 120px;
    }

    .about-description{
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
    }

    .about-description img {
        order: 2;
    }

    .projects-content {
        flex-direction: row;
        justify-content: space-between;
        
    }

        .project-card {
        flex-basis: calc(50% - 0.5rem);

    }
}